{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur notre petit site !</h1>
            <p class="lead">Ce site a été mis en place pour </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-centre">
                        3 chambres, <strong>19 € par nuit</strong>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="appat"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Titre en h4
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque
                            consequatur dolor
                            dolorum enim eveniet, explicabo fugiat iure nesciunt odio quo quod sequi sunt. Illum magni
                            maiores qui reiciendis suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-centre">
                        3 chambres, <strong>19 € par nuit</strong>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="appat"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Titre en h4
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque
                            consequatur dolor
                            dolorum enim eveniet, explicabo fugiat iure nesciunt odio quo quod sequi sunt. Illum magni
                            maiores qui reiciendis suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-centre">
                        3 chambres, <strong>19 € par nuit</strong>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="appat"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Titre en h4
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque
                            consequatur dolor
                            dolorum enim eveniet, explicabo fugiat iure nesciunt odio quo quod sequi sunt. Illum magni
                            maiores qui reiciendis suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}