{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
            </p>
        </div>
        <h2>Le titre en h2</h2>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-centre">
                        3 chambres, <strong>19 € par nuit</strong>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="appat"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Titre en h4
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque
                            consequatur dolor
                            dolorum enim eveniet, explicabo fugiat iure nesciunt odio quo quod sequi sunt. Illum magni
                            maiores qui reiciendis suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-centre">
                        3 chambres, <strong>19 € par nuit</strong>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="appat"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Titre en h4
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque
                            consequatur dolor
                            dolorum enim eveniet, explicabo fugiat iure nesciunt odio quo quod sequi sunt. Illum magni
                            maiores qui reiciendis suscipit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-centre">
                        3 chambres, <strong>19 € par nuit</strong>
                    </div>
                    <img src="https://via.placeholder.com/1000x400" alt="appat"
                         style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Titre en h4
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque
                            consequatur dolor
                            dolorum enim eveniet, explicabo fugiat iure nesciunt odio quo quod sequi sunt. Illum magni
                            maiores qui reiciendis suscipit.</p>
                    </div>
                </div>
            </div>
        </div>

        <h2>Titre en h2</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Un nom et prénom</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://via.placeholder.com/64x64" alt="la pp" class="float-lg-end">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse excepturi provident
                                quisquam saepe ut. Aliquam aperiam delectus eligendi eos nobis provident sunt?
                                Dignissimos facilis illo ipsa placeat possimus repudiandae voluptatem.</p>
                            <a href="#" class="btn btn-success float-lg-end">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Un nom et le prénom</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://via.placeholder.com/64x64" alt="la pp" class="float-lg-end">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse excepturi provident
                                quisquam saepe ut. Aliquam aperiam delectus eligendi eos nobis provident sunt?
                                Dignissimos facilis illo ipsa placeat possimus repudiandae voluptatem.</p>
                            <a href="#" class="btn btn-success float-lg-end">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}